/*#bottomDiv{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}*/
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }
 a{
   position: absolute;
   right: 30%;
   left: 30%;
 }
button{
   border: 2px solid #000000; 
   background-color: white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   position: absolute;
   right: 30%;
   left: 30%;
}
.button{
   border: 2px solid #000000; 
   background-color: white;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   position: absolute;
   right: 30%;
   left: 30%;
}

h5{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 100px;
  padding-bottom: 50px;
}
g-signin2{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

a{
  color: #000000;
}